@font-face {
    font-family: DINPro-Regular;
    src: url(fonts/DINPro-Regular.otf);
}

@font-face {
    font-family: DINPro-Medium;
    src: url(fonts/DINPro-Medium.otf);
}

* 
{
	margin: 0;
	padding: 0;
}

body
{
	min-width: 1100px;
	max-width: 1400px;
	box-sizing: border-box;
	padding: 45px;
}

.header
{
	height: 45px;
	position: relative;
	overflow: hidden;
}

.social
{
	float: left;
}

.social-ico
{
	margin-right: 15px;
}

.NG
{
	font: italic 15px Times New Roman;
	border-bottom: 1px solid #BEBEBE;
}

.name
{
	width: 280px;
	text-align: center;
	font-family: DINPro-Regular;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -140px;
}

.name__first-name
{
	font-size: 25px;
	letter-spacing: 4px;
}

.name__second-name
{
	font-size: 13px;
}

.lang
{
	float: right;
	font-size: 13px;
	font-family: DINPro-Regular;
}

.lang__ru
{
	color: #666666;
	margin-right: 5px;
}

.lang__en
{
	color: #252525;
	margin-right: 5px;
	border-bottom: 1px solid #BEBEBE;
}

.clear 
{
	clear: both;
}

.main
{
	margin-top: 20px;
	box-sizing: border-box;
}

.news
{
	min-width: 27%;
	margin-right: 25px;
	box-sizing: border-box;
	float: left;
}

.velo
{
	height: 142px;
	max-width: 100%;
}

.date
{
	display: inline-block;
	float: right;
	margin: -10px 25px 0 0;
	font: italic 45px PTSerif;
}

.month
{
	margin: 0 0 0 5px;
	height: 20px;
	font: normal 13px Arial;
	width: 100px;
	border-bottom: 1px solid #E53C20;
}

.text
{
	width: 100px;
	font: italic 13px Arial;
	margin: 10px 0 0 5px;
}

.forum
{
	width: 145px;
	font: 20px Times New Roman;
	margin: 5px 0 0 0;
}

.forum span
{

}

.about
{
	font: 13px Arial;
	color: #4F4F4F;
	margin: 10px 0 0 0;
	word-wrap: break-word;
	line-height: 1.5;
	width: 255px;
}

.portrait
{
	min-width: 50%;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
}

.number-count
{
	font: 50px Times New Roman;
	color: #fff;
	position: absolute;
	top: 450px;
	left: 15px;
}

.biography
{
	position: absolute;
	top: 225px;
	left: 430px;
	min-width: 65%;
	max-width: 80%;
	
}

.biography span
{
	font: 35px DINPro-Regular;
	border-bottom: 1px dotted black;
	
}

.biography p
{
	margin-top: 10px;
	font: 13px Arial;
	color: #2F2F2F;
	line-height: 1.5;
}

.button-more
{
	font: 13px Arial;
	color: #E53C20;
	text-decoration: none;
	border-bottom: 1px dotted #E53C20;
	
	
}

.button-block
{
	margin: 10px 0 0 -13px;
	display: inline-block;
	padding: 0 10px;
	box-sizing: border-box;
	border: 3px solid #E53C20;
	height: 34px;
	line-height: 25px;	
}

.portrait img
{
	min-width: 100%;
}

.portraint__nav
{
	padding: 0 0 0 20px;
}

.portraint__nav a
{
	font: 13px Arial;
	text-decoration: none;
	color: #000;
	margin-right: 20px;
	border-bottom: 1px solid #BEBEBE;
}

.menu
{
	float: right;
	list-style-type: none;
	text-align: right;
	width: 140px;
}

.menu__item
{
	font-size: 15px;
	font-family: DINPro-Regular;
	text-transform: uppercase;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	display: inline-block;
	box-sizing: border-box;
	
}

.menu__item_hovered
{
	background: #EBE7D6;
}

.arhitect
{
	margin: 60px 0 0 0;
	text-align: center;

}

.arhitect span, .media span
{
	font: 35px DINPro-Regular;
	margin: 0 15px;
}

.arhitect p, .media p
{
	font: italic 13px Arial;
	text-align: center;
	width: 550px;
	margin: 10px auto 40px;
	line-height: 1.5;
}

.line
{
	display:inline-block;
	background: url(img/line.png);
	background-repeat: repeat-x;
	width:35%;
	height: 12px;
}

.projects
{
	text-align: center;
}

.spain
{
	position: relative;
}

.spain p
{
	margin: 110px 35px 10px 0;
	text-align: right;
	font: 13px Arial;
	color: #505050;
	line-height: 1.5;
	width: 235px;
}

.spain div
{
	text-align: right;
	width: 235px;
	display: inline-block;
	margin-right: 25px;
}

.spain a
{
	text-decoration: none;
	font: 13px Arial;
	color: #E53C20;
	border-bottom: 1px solid #E53C20;
}

.spain span
{
	font: 70px DINPro-Regular;
	color: 2f2f2f;
	letter-spacing: -6px;
	border-bottom: 1px solid #E53C20;
	display: inline-block;
	position: absolute;
	top: 85px;
	
}

span.expo
{
	display:inline-block;
	top: 180px;
}

.media
{
	margin-top: 105px;
	text-align: center;
}

.media p
{
	text-align: center;
	width: 811px;
}

.media .line
{
	width: 33%;
}

.line-dotted
{
	display:inline-block;
	background: url(img/dotted.png);
	background-repeat: repeat-x;
	width: 19%;
	height: 8px;
}

.films
{
	margin-top: 60px;
	text-align: center;
}

.films span
{
	font: 20px DINPro-Regular;
	margin: 0 15px;
}

.line-dotted-short
{
	display:inline-block;
	background: url(img/dotted.png);
	background-repeat: repeat-x;
	width: 6%;
	height: 8px;
}

.first
{
	margin-left: 40px;
}

.film-items
{
	text-align: center;
	margin-top: 25px;
}

.film-items img
{
	text-align: left;
	min-width: 100%;
}

.film-items__item
{
	display:inline-block;
	min-width: 20%;
	vertical-align: top;
	
}

.film-items__item p
{
	font: 13px Arial;
	color: #505050;
	line-height: 1.5;
	width: 190px;
	text-align: left;
	margin: 15px;
}

.film-topic
{
	width: 180px;
	text-align: left;
}

.film-items__item span
{
	font: 20px Times New Roman;
	border-bottom: 1px solid #E53C20;
}

.film-image
{
	text-align: left;
	margin: 10px 15px;
	min-width: 17%;
	position: relative;
}

.arrow
{
	position: absolute;
	width: 36px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin: -15px -18px;
}

.last-film
{
	margin-left: 85px;
}

.second-film
{
	border: 1px solid #C4BDAF;
	padding: 1px;
	box-sizing: border-box;
}

.books
{
	margin-top: 50px;
	text-align: center;
}

.books span
{
	font: 20px DINPro-Regular;
	margin: 0 15px;
}

.books .line-dotted
{
	display:inline-block;
	background: url(img/dotted.png);
	background-repeat: repeat-x;
	width: 40%;
	height: 8px;
}

.books-items
{
	text-align: center;
	margin-top: 30px;
}

.books-items__item
{
	display: inline-block;
	width: 380px;
	position: relative;
}

.book-first
{
	margin-right: 80px;
}

.books-items__item p
{
	font: 13px Arial;
	color: #505050;
	line-height: 1.5;
	width: 170px;
	text-align: left;
	float: right;
	margin: 15px 20px 0 0;
}

.books-items__item .p-philosophy
{
	margin: 15px 65px 0 0;
}

.books-items__item img
{
	float: left;
}

.book-topic
{
	text-align: left;
	margin-top: 5px;
}

.book-topic span
{
	font: 20px Times New Roman;
	border-bottom: 1px dotted #E53C20;
}

.books-items__item .under-p
{
	top: 133px;
	left: 40px;
	width: 250px;
	position: absolute;
}

.books-items__item .under-p-philosophy
{
	top: 170px;
	left: 40px;
	width: 250px;
	position: absolute;
}

.autors
{
	width: 640px;
	margin: 110px auto;
	text-align: center;
}

.autors span
{
	font: 13px Arial;
	color: #505050;
}

.autors .mail
{
	font: 13px Times New Roman;
	color: #E53C20;
	border-bottom: 1px solid #E53C20;
}

.autors h4
{
	margin-top: 25px;
	font: italic 13px Arial;
	color: #505050;
}

.autors h3
{
	font: 20px DINPro-Regular;
	color: #2F2F2F;
	margin-bottom: 7px;
}

span.cp
{
	font-style: italic;
	border-bottom: 1px solid #505050;
}

/*------------------CAROUSEL----------------------*/

.carousel-items, .carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
}
.carousel-item {
	display: block;
	float: left;
	text-align: center;
	position: relative;
}

.carousel-item h3
{
	display: inline-block;
	font: 20px Times New Roman;
	border-bottom: 1px solid #E53C20;
	margin-bottom: 18px;
}

.count-of
{
	font: italic 32px Times New Roman;
	position: absolute;
	top: 65px;
	right: 3px;
	z-index: 10;
}

.carousel-wrapper {
	width: 310px;
	display: inline-block;
	position: relative;
	padding-bottom: 255px;
	overflow: hidden;
}

.cw-2
{
	margin: 0 35px;
}

.carousel-items {
	width: 300%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: 33.333%;
	padding-top: 20px;
}

.carousel-labels {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 310px;
	height: 35px;
	overflow:hidden;
	
}
.carousel-selector {
	display: none;
}
.carousel-label {
	display: inline-block;
	cursor: pointer;
	
}
.carousel-label label {
	width: 50px;
	height: 35px;
	cursor: pointer;
	display: block;
	position: relative;
}

.carousel-label img
{
	position: absolute;
	bottom: 2px;
	left: 17px;
}

.prior
{
	float: left;
}

.prj-name
{
	position: absolute;
	z-index: 11;
	top: 229px;
	left: 40px;
	width: 230px;
	text-align: center;
	font: italic 13px Arial;
	color: #fff;
	display: inline-block;
}

.next
{
	float: right;
}

#slide1:checked ~ .carousel-items {
	left: 0;
}

#slide2:checked ~ .carousel-items {
	left: -100%;
}

#slide3:checked ~ .carousel-items {
	left: 0;
}

#slide4:checked ~ .carousel-items {
	left: -100%;
}

#slide5:checked ~ .carousel-items {
	left: 0;
}

#slide6:checked ~ .carousel-items {
	left: -100%;
}